<div class="cwt__footer visible-footer" style="margin-left:256px">
    <div class="cwt__footer__top">
        <div class="row">
            <div class="col-md-8">
                <div class="cwt__footer__company">
                    <img class="cwt__footer__company-logo" src="../assets/common/img/temp/mediatec.png" target="_blank" title="Mediatec Software">
                    <span>
                        © 2018 <a href="http://oltranz.com/" class="cwt__footer__link" target="_blank">Oltranz</a>
                        <br>
                        All rights reserved
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-backdrop"><!-- --></div>