    <div class="page-content-inner">

        <!-- Ecommerce Orders -->
        <section class="panel panel-with-borders">
            <div class="panel-heading">
                <h2>
                    <a data-toggle="modal" data-target="#myModal" class="pull-right btn btn-primary">
                    <i class="counter-icon icmn-plus2"></i> New topup</a>
                   Topups
                </h2>
            </div>
            <div class="panel-body">

                <!-- Upper tiles -->
                <div class="raw"  style="height:200px">
                    <div class="col-md-8" id="summaryChart">
                        <div [chart]="chart" class="chart-area-1 height-200 chartist"></div>
                    </div>
                    <div class='col-md-4' id="sideButtons" class="text-right">
                        <div class="widget widget-seven background-success">
                            <div class="widget-body">
                                <div href="javascript: void(0);" class="widget-body-inner">
                                    <h5 class="text-uppercase">Average Topup</h5>
                                    <i class="counter-icon icmn-cash2"></i>
                                    <span class="counter-count">
                                        <i class="icmn-arrow-up5"></i>
                                        <span class="counter-init" data-from="25" data-to="942">₦942</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End upper tiles -->
                <h3>Recent topups</h3>
                <table class="table table-hover nowrap" id="example1" width="100%">
                    <thead class="thead-default">
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Trade partner</th>
                        <th>Previous Balance</th>
                        <th>Amount</th>
                        <th>Next balance</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Trade partner</th>
                        <th>Previous Balance</th>
                        <th>Amount</th>
                        <th>Next balance</th>
                        <th>Status</th>
                    </tr>
                    </tfoot>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- End Ecommerce Orders -->

    </div>

    <!-- Page Scripts -->
    <script>
        $(function () {

            // Datatables
            $('#example1').DataTable({
                "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
                responsive: true,
                "autoWidth": false
            });

        })
    </script>
    <!-- End Page Scripts -->


    <!-- New trade partner Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Top Up</h4>
      </div>
        <form>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="l13">Trade partner</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" id="l13">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                            <option>Option 5</option>
                        </select>
                    </div>
                </div>
                <fieldset>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label for="l13">Commission type</label>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="l13">
                                <option>Percentage (%)</option>
                                <option>Flat</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 form-control-label">Commission value</label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" id="inputPassword3" placeholder="Enter value">
                        </div>
                    </div>

                </fieldset>
                  <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 form-control-label">TOTAL</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputPassword3" value="0" disabled="disabled">
                    </div>
                  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
  </div>
</div>