<!-- Nav -->
<app-nav *ngIf="isNotLoginPage" ></app-nav>
<!-- /Nav -->

<!-- Spinner for 'Please wait' -->
<!-- <ng4-loading-spinner> </ng4-loading-spinner> -->

<!-- page content -->
<section *ngIf="isNotLoginPage;else other_content_menu">
	<section class="page-content" style="margin-top:80px; margin-left:240px">
	  <router-outlet></router-outlet>
	</section>
</section>

<ng-template #other_content_menu>
	<section class="page-content">
	  <router-outlet></router-outlet>
	</section>
</ng-template>
<!-- /page content -->

<!-- footer content -->
<app-footer *ngIf="isNotLoginPage" ></app-footer>
<!-- /footer content -->